{% extends "base_auth.html" %}

{% block title %} Signup{% endblock %}

{% block content %}
<div class="col-md-4 offset-md-4 form-content">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('auth_bp.signup') }}" method="POST" novalidate>
        <h1>Signup</h1>
        <hr>
        {{ form.csrf_token }}
        <div class="form-group">
            <div class="form-label">{{ form.new_email.label }}</div>
            {{form.new_email(size=30, class="form-control")}}
            <div class="invalid-feedback">
                {% for error in form.new_email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">{{ form.new_password.label }}</div>
            {{ form.new_password(size=30, class="form-control") }}
            <div class="invalid-feedback">
                {% for error in form.new_email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <div class="form-label">{{ form.confirm_password.label }}</div>
            {{ form.confirm_password(size=30, class="form-control") }}
            <div class="invalid-feedback">
                {% for error in form.new_email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>

        </div>
        <div class="d-grid gap-2 submit-button">
            {{ form.submit(class="btn btn-primary") }}
        </div>


    </form>

    <div class="row">
        <div class="col-md-5 offset-md-7">
            <small class="form-text text-muted">Forgot password</small>
        </div>
    </div>

</div>

{% endblock %}